//navigation
$screen-width: 1300px;

$main-color: #f53d2d;
$main-color2: #ff6533;
$main-color3: #fa5230;

$transparent-color: rgba(255, 0, 0, 0.5);
$gradient-color: linear-gradient($main-color, $main-color2);

$radius: 3px;

$navigationPaddingLR: 150px;
$navigationHeight: auto;
$navigationRowGap: 5px;

$navigationBodyLogoMinFlex: 50px;
$navigationBodyCartInfoBoxShadow: 5px;

//promotion section
$promotionSectionBanner: 250px;
