//navigation
$screen-width: 1300px;

//color
$main-color: #f53d2d;
$main-color2: #ff6533;
$main-color3: #fa5230;
$main-color4: #ee4d2d;

$transparent-color: rgba(255, 0, 0, 0.5);
$transparent-color2: rgba(0, 0, 0, 0.3);
$transparent-color3: rgba(0, 0, 0, 0.8);
$transparent-color4: rgba(0, 0, 0, 0.5);
$transparent-color5: rgba(0, 0, 0, 0.05);
$transparent-color6: rgba(0, 0, 0, 0.15);
$transparent-color7: rgba(0, 0, 0, 0.6);
$transparent-color8: rgba(0, 0, 0, 0.03);
$transparent-color9: rgba(0, 0, 0, 0);

$transparent-color10: rgba(238, 77, 45, 0.1);
$transparent-color11: rgba(238, 77, 45, 0.05);
// $transparent-color7: rgba(255, 255, 255, 0.15);

$gradient-color: linear-gradient($main-color, $main-color2);
$gradient-color2: linear-gradient(white, white);

//border radius
$radius: 3px;

//padding, margin, width, height, position
$navigationPaddingLR: 150px;
$navigationHeight: auto;
$navigationRowGap: 5px;

$navigationBodyLogoMinFlex: 50px;
$navigationBodyCartInfoBoxShadow: 5px;

//promotion section
$promotionSectionBanner: 250px;

//transition
$transitionDuration: 200ms;

//gap
$gap: 1vmin;
$gap2: 2vmin;
$gap3: 3vmin;

//font
$fontSize: 12px;
$fontSize2: 1.6vmin;

$fontFamily: 'Noto Sans';

$fontWeight: 600;
$fontWeight2: 600;

//divider
$dividerHeight: 30px;
