@import 'variables';

@mixin navigationHeaderStyle {
  display: flex;
  align-items: center;
  column-gap: 8px;
  a {
    @include navigationTextStyle();
    text-decoration: none;
  }
}

.divider {
  width: 0.5px;
  height: 12px;
  background-color: white;
  opacity: 50%;

  &.cart {
    background-color: $main-color4;
    height: 30px;
  }

  &.productCatalog {
    background-color: $transparent-color2;
    height: 30px;
  }

  &.productDetail {
    background-color: $transparent-color2;
    height: 80px;
    // height: 100%;
  }
}

.divider-horizontal {
  width: 100%;
  height: 0.5px;
  background-color: $transparent-color2;
  opacity: 50%;
}

@mixin navigationHeaderButtonStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 5px;
  cursor: pointer;
}

@mixin navigationTextStyle {
  font-size: $fontSize;
  font-family: 'Noto Sans';
  font-weight: 400;
}

@mixin categoryTitle {
  font-size: 1.3 * $fontSize;
  font-weight: $fontWeight2;
  color: $transparent-color3;
}

@mixin Navigation_login {
  background-image: $gradient-color2;
  color: $transparent-color3;
  background-color: white;
  // flex-direction: row;
  // // justify-content: center;
  // justify-content: space-between;
  // align-items: center;
}

@mixin primaryButton {
  border: none;
  // border-radius: $radius;
  background-color: $main-color4;
  cursor: pointer;
  color: white;

  padding: 10px 10px;

  &:hover {
    opacity: 80%;
  }
}

@mixin primaryButton2 {
  border: none;
  // border-radius: $radius;
  background-color: white;
  cursor: pointer;
  color: black;

  padding: 10px 10px;

  &:hover {
    opacity: 80%;
  }
}

@mixin primaryButton3 {
  padding: 15px 20px;
  background-color: $transparent-color10;
  color: $main-color4;
  border: 1px solid $main-color4;
  border-radius: $radius;

  &:hover {
    background-color: $transparent-color11;
  }
}

@mixin deleteButtonMixin {
  button {
    border: none;
    background-color: white;
    cursor: pointer;
  }

  button:hover {
    color: $main-color4;
    transition: $transitionDuration;
  }
}

@mixin containerMixin {
  @include navigationTextStyle();
  display: flex;
  flex-direction: column;
  height: $navigationHeight;
  width: 100%;
  // row-gap: $navigationRowGap;
  overflow: visible;
  align-items: center;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

//width > screen-width
@mixin containerChildMixin {
  @media screen and (min-width: $screen-width) {
    display: flex;
    flex-direction: column;
    height: $navigationHeight;
    max-width: $screen-width;
    // max-width: 100%;
    // width: 80%;
    padding: 10px $navigationPaddingLR;
    row-gap: $navigationRowGap;
  }

  //width <= screen-width
  display: flex;
  flex-direction: column;
  height: $navigationHeight;
  width: 99%;
  // max-width: 1400px;
  // padding: 10px 10px;
  row-gap: $navigationRowGap;
}

@mixin NumberInputWithoutScrollerMixin {
  /* Remove Arrows/Spinners */
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}
