@mixin navigationTextStyle {
  color: white;
  // font-size: 12px;
  font-size: $fontSize2;
  font-family: 'Noto Sans';
  font-weight: 400;
}

@mixin primaryButton {
  border: none;
  // border-radius: $radius;
  background-color: $main-color4;
  cursor: pointer;
  color: white;

  padding: 10px 10px;

  &:hover {
    opacity: 80%;
  }
}
