@import 'variables';

.CommonTextColor-1 {
  color: $main-color4;
}

.CommonFontSize-1 {
  font-size: 1.2 * $fontSize;
  text-decoration: none;
}

.CommonMarginTop-1 {
  margin-top: 10px;
}

.CommonPaddingTop-1 {
  padding-top: 10px;
}
